.giftbuilder-wrapper {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.giftbuilder-wrapper .productrow-container:not(:last-child) {
    position: relative;
    border-bottom: 3px solid #D9D9D9;
}

.giftbuilder-wrapper .productrow-container:not(:last-child)::before {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 32px;
    height: 32px;
    background-image: url('https://ucds.ams3.digitaloceanspaces.com/AvonGifting/gift-plus-sign.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    content: '';

}

.giftbuilder-wrapper h4 {
    margin-bottom: 24px;
}

.productrow-container {
    margin: 40px 0 0;
    padding-bottom: 40px;

}

.productsrow {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.productsrow .product-card:not(:last-child) {
    margin-bottom: 16px;
}

.productsrow .product-card {
    margin: 8px 10px;
}



@media only screen and (max-width: 1280px) {
    .productsrow {
        max-width: 600px;
    }

    .productsrow .product-card:nth-child(odd) {
        margin-right: auto;
        margin-left: 0;

    }
}

@media only screen and (max-width: 768px) {
    .productsrow {
        max-width: 500px;
    }
}

@media only screen and (max-width: 400px) {
    .productsrow {
        max-width: 400px;
    }
}


.productrow-header {
    margin: 0 auto;
}

.productrow-header p.productrow-title {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.3;
}