.giftbanners {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 60px;
    margin: 0 auto;
}



.giftbanner-bottom {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 20px 0 40px;
    text-align: center;
}